@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #B35C44;
  --color-secondary:#3E5336;
  --color-tertiary: #D9C5A3;
  --color-neutral: #F5F2ED;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta-sans);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
}
